<section class="resume-section">
    <div class="resume-section-content">
        <h1 class="mb-0"><a href="{{ post.url }}">{{ page.title }}</a></h1>
        <div class="subheading mx-2">
            {{ page.subtitle }}
        </div>
        <div class="mb-5 px-2">
            {{ content }}
        </div>
        <div class="mb-5 px-2">
            Published on {{ post.date | date_to_string }}
            |
            <a class="text-secondary" href="#"><i class="fab fa-linkedin fa-lg"></i></a>
            <a class="text-secondary" href="#"><i class="fab fa-facebook-square fa-lg"></i></a>
            <a class="text-secondary" href="#"><i class="fab fa-twitter-square fa-lg"></i></a>
            <a class="text-secondary" href="#"><i class="fas fa-rss-square fa-lg"></i></a>
        </div>
    </div>
</section>

